{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "printWidth": 240,
  "trailingComma": "all",
  "tabWidth": 2,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "eslintIntegration": true
}
